<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>07553C81-AB66-4343-85C4-C9C999BCD52E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD42344B-6C3F-4560-B1BE-B3557BCE24ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>164BFCA4-7FB6-434C-AA40-C3DB2680D371</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>232664EA-8B4A-44C1-9C2C-F8D84658E9AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>231A498D-385A-484F-974F-0FA5B4A979C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>163883E5-6522-47F0-9533-138D38DD5E49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>232664EA-8B4A-44C1-9C2C-F8D84658E9AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46124BE2-40C7-4A03-887B-F45147F65D49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2877649D-19C5-4D13-AE9A-AF5EC7905679</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F7F6A80-D316-43B2-9AA5-7F6D03482B87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>474C5EC8-4296-4BB9-BBEC-92B891960AF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DC8F884-0C0A-4124-A1CE-3233BE4DF148</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4C4CC050-497B-4DE0-A043-13D0367F7E47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3D43372-5147-4F41-894C-DE7FB0ECF576</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>61207B55-135C-40AA-8150-D3019583C3CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A725BEB1-F2F5-4321-92E7-F944877589EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>649865BD-F052-4502-B96A-61956795C376</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC8A5C4E-D9E3-458C-AA47-8C46E784C822</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68711F30-4A0A-4E0A-93F8-55610D81F676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA9025E-AD72-4682-ACEC-04C89EFFBFE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6AB25974-176D-49A6-A359-588506CF3627</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68711F30-4A0A-4E0A-93F8-55610D81F676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BF0CBC2-1E1D-4E58-A976-6A156E59AABB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FF062F9-620D-492E-B40F-E4C4B4A74C2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>725D8D9E-F343-402F-ACD2-A50074056E5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C38A55E9-A171-4B58-A9F9-EC5C7A9E28A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F14D855-6AFF-481E-9A9E-B6C53889DF70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>103FFA95-D26A-4CF0-81D3-3CA24FE93B67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C3257199-760F-41A5-AA3B-7ABC5DBC5CB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>067E96D8-C3B0-465C-97F5-0DBB9BE0B4AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C38A55E9-A171-4B58-A9F9-EC5C7A9E28A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35E71B33-984B-4963-B8CB-E63C7AB2E446</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CD1F553A-218F-4198-94AA-0B949055B26D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE8ABB59-1215-463D-BE49-9AAE549C92B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CD42344B-6C3F-4560-B1BE-B3557BCE24ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>602E76EE-70AA-4102-ACA4-33DF1C00F66B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2D8FA86-D224-433D-BB98-0ED4DD6D0B69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA804137-1CC4-4F63-9DC9-3193D6622D96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F3D43372-5147-4F41-894C-DE7FB0ECF576</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C47C4-DA51-4AD5-B346-10A5FCE66F67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fab</string>
	<key>description</key>
	<string>Controls for Cache and Internal Tools (orig by Brandon)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>InterSystems</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07553C81-AB66-4343-85C4-C9C999BCD52E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wrc</string>
				<key>subtext</key>
				<string>Open WRC {query}</string>
				<key>text</key>
				<string>WRC</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD42344B-6C3F-4560-B1BE-B3557BCE24ED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://wrc.intersystems.com/wrc/Problem.csp?OBJID={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>602E76EE-70AA-4102-ACA4-33DF1C00F66B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6AB25974-176D-49A6-A359-588506CF3627</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>devkey</string>
				<key>subtext</key>
				<string>Open Devkey {query}</string>
				<key>text</key>
				<string>Devkey</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68711F30-4A0A-4E0A-93F8-55610D81F676</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://turbo.iscinternal.com/prodlog/devview.csp?Key={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ABA9025E-AD72-4682-ACEC-04C89EFFBFE8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>164BFCA4-7FB6-434C-AA40-C3DB2680D371</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>prodlog</string>
				<key>subtext</key>
				<string>Open Prodlog {query}</string>
				<key>text</key>
				<string>Prodlog</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>232664EA-8B4A-44C1-9C2C-F8D84658E9AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://turbo.iscinternal.com/prodlog/itemview.csp?OBJID={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>46124BE2-40C7-4A03-887B-F45147F65D49</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4C4CC050-497B-4DE0-A043-13D0367F7E47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>adhoc</string>
				<key>subtext</key>
				<string>Open Adhoc {query}</string>
				<key>text</key>
				<string>Adhoc</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F3D43372-5147-4F41-894C-DE7FB0ECF576</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://live.adhoc.iscinternal.com/adhocrest/index.csp#/viewRequest/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>273C47C4-DA51-4AD5-B346-10A5FCE66F67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.intersystems.com/latest/csp/docbook/DocBook.UI.SearchPageZen.cls?KEY=&amp;KeyWord={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>067E96D8-C3B0-465C-97F5-0DBB9BE0B4AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>doc</string>
				<key>subtext</key>
				<string>Search Ensemble 2012.2 Documentation for {query}</string>
				<key>text</key>
				<string>Cache Documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C3257199-760F-41A5-AA3B-7ABC5DBC5CB1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.intersystems.com/latest/csp/docbook/DocBook.UI.Page.cls</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A725BEB1-F2F5-4321-92E7-F944877589EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>classref</string>
				<key>subtext</key>
				<string>Open Ensemble 2012.2 Class Reference to %SYS</string>
				<key>text</key>
				<string>Cache Class Reference</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>61207B55-135C-40AA-8150-D3019583C3CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://turbo.iscinternal.com/prodlog/itemedit.csp?mode=new</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>163883E5-6522-47F0-9533-138D38DD5E49</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>newprodlog</string>
				<key>subtext</key>
				<string>Create a new Prodlog</string>
				<key>text</key>
				<string>New Prodlog</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>231A498D-385A-484F-974F-0FA5B4A979C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://iknow/OntolicaSearch/Pages/DefaultResults.aspx?k={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7DC8F884-0C0A-4124-A1CE-3233BE4DF148</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>iknow</string>
				<key>subtext</key>
				<string>Search iKnow for {query}</string>
				<key>text</key>
				<string>iKnow</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>474C5EC8-4296-4BB9-BBEC-92B891960AF9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://iscperson.iscinternal.com/iscperson/search.csp?emailCompare=[&amp;email=&amp;phoneCompare=[phone=&amp;nameCompare=[&amp;name={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>103FFA95-D26A-4CF0-81D3-3CA24FE93B67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>iscperson</string>
				<key>subtext</key>
				<string>Search ISCPerson for Name: {query}</string>
				<key>text</key>
				<string>ISCPerson</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F14D855-6AFF-481E-9A9E-B6C53889DF70</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trc</string>
				<key>subtext</key>
				<string>Open TRC {query}</string>
				<key>text</key>
				<string>Trak Response Center</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C38A55E9-A171-4B58-A9F9-EC5C7A9E28A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>725D8D9E-F343-402F-ACD2-A50074056E5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://trc.intersystems.com/trc/Problem.csp?OBJID={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>35E71B33-984B-4963-B8CB-E63C7AB2E446</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://ccr.intersystems.com/ccr/view.csp?RID={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AC8A5C4E-D9E3-458C-AA47-8C46E784C822</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ccr</string>
				<key>subtext</key>
				<string>Open CCR {query}</string>
				<key>text</key>
				<string>Change Control Record</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>649865BD-F052-4502-B96A-61956795C376</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://turbo.iscinternal.com/prodlog/devlog3.csp?query=Phoenix.DevKeyReports:DevKeyFullTextFilter&amp;filterText={query}&amp;sortState=</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7F7F6A80-D316-43B2-9AA5-7F6D03482B87</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>devlog</string>
				<key>subtext</key>
				<string>Search Devlog for {query}</string>
				<key>text</key>
				<string>Devlog</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2877649D-19C5-4D13-AE9A-AF5EC7905679</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7FF062F9-620D-492E-B40F-E4C4B4A74C2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cls</string>
				<key>script</key>
				<string># Fuzzy logic with help from http://crossplatform.net/sublime-text-ctrl-p-fuzzy-matching-in-python/
# Thanks!

import re

print """&lt;?xml version="1.0"?&gt;&lt;items&gt;"""

with open("classes.txt","r") as classfile:
    for line in classfile:
        className = line.split(",")[0]
        pattern = '.*?'.join(map(re.escape, list("{query}")))
        if re.search(pattern, className, re.IGNORECASE):
            nsName = "%25SYS" if line.split(",")[1] == "CACHELIB\n" else "ENSLIB"
            print "&lt;item uid='{0}' valid='YES' arg='https://docs.intersystems.com/latest/csp/documatic/%25CSP.Documatic.cls?APP=1&amp;amp;LIBRARY={2}&amp;amp;CLASSNAME={0}'&gt;&lt;title&gt;{1}&lt;/title&gt;&lt;icon&gt;docicon.png&lt;/icon&gt;&lt;/item&gt;".format(className.replace("%", "%25"), className, nsName)

print """&lt;/items&gt;"""

</string>
				<key>subtext</key>
				<string>Open Ensemble 2013.1 Class Reference for {query}</string>
				<key>title</key>
				<string>Ensemble 2013.1 Class Reference</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BF0CBC2-1E1D-4E58-A976-6A156E59AABB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://live.adhoc.iscinternal.com/adhocrest/index.csp#/newRequest/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE8ABB59-1215-463D-BE49-9AAE549C92B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>newadhoc</string>
				<key>subtext</key>
				<string>Create a new Adhoc request</string>
				<key>text</key>
				<string>New Adhoc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD1F553A-218F-4198-94AA-0B949055B26D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "System Events"
   tell current location of network preferences
       set VPNservice to service "ISC VPN" -- name of the VPN service
       if exists VPNservice then connect VPNservice
   end tell
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA804137-1CC4-4F63-9DC9-3193D6622D96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>subtext</key>
				<string>Connect to ISC VPN</string>
				<key>text</key>
				<string>Connect the InterSystems Virtual Private Network</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F2D8FA86-D224-433D-BB98-0ED4DD6D0B69</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>067E96D8-C3B0-465C-97F5-0DBB9BE0B4AB</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>07553C81-AB66-4343-85C4-C9C999BCD52E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>103FFA95-D26A-4CF0-81D3-3CA24FE93B67</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>163883E5-6522-47F0-9533-138D38DD5E49</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>164BFCA4-7FB6-434C-AA40-C3DB2680D371</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>231A498D-385A-484F-974F-0FA5B4A979C4</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>232664EA-8B4A-44C1-9C2C-F8D84658E9AB</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>273C47C4-DA51-4AD5-B346-10A5FCE66F67</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>2877649D-19C5-4D13-AE9A-AF5EC7905679</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>35E71B33-984B-4963-B8CB-E63C7AB2E446</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>46124BE2-40C7-4A03-887B-F45147F65D49</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>474C5EC8-4296-4BB9-BBEC-92B891960AF9</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>4C4CC050-497B-4DE0-A043-13D0367F7E47</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>602E76EE-70AA-4102-ACA4-33DF1C00F66B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>61207B55-135C-40AA-8150-D3019583C3CD</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>649865BD-F052-4502-B96A-61956795C376</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>68711F30-4A0A-4E0A-93F8-55610D81F676</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6AB25974-176D-49A6-A359-588506CF3627</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6BF0CBC2-1E1D-4E58-A976-6A156E59AABB</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>725D8D9E-F343-402F-ACD2-A50074056E5B</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>7DC8F884-0C0A-4124-A1CE-3233BE4DF148</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>7F14D855-6AFF-481E-9A9E-B6C53889DF70</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>7F7F6A80-D316-43B2-9AA5-7F6D03482B87</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>7FF062F9-620D-492E-B40F-E4C4B4A74C2A</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>A725BEB1-F2F5-4321-92E7-F944877589EF</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>ABA9025E-AD72-4682-ACEC-04C89EFFBFE8</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AC8A5C4E-D9E3-458C-AA47-8C46E784C822</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>BA804137-1CC4-4F63-9DC9-3193D6622D96</key>
		<dict>
			<key>ypos</key>
			<real>1690</real>
		</dict>
		<key>C3257199-760F-41A5-AA3B-7ABC5DBC5CB1</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C38A55E9-A171-4B58-A9F9-EC5C7A9E28A8</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>CD1F553A-218F-4198-94AA-0B949055B26D</key>
		<dict>
			<key>ypos</key>
			<real>1570</real>
		</dict>
		<key>CD42344B-6C3F-4560-B1BE-B3557BCE24ED</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CE8ABB59-1215-463D-BE49-9AAE549C92B1</key>
		<dict>
			<key>ypos</key>
			<real>1570</real>
		</dict>
		<key>F2D8FA86-D224-433D-BB98-0ED4DD6D0B69</key>
		<dict>
			<key>ypos</key>
			<real>1690</real>
		</dict>
		<key>F3D43372-5147-4F41-894C-DE7FB0ECF576</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
